@page "/"

<PageTitle>DemoApp</PageTitle>



<FluentStack Style="padding-top:1em;padding-bottom:1em" Orientation="Orientation.Horizontal">
    <FluentIcon Title="Welcome" Value="@(new Icons.Regular.Size32.Flash())"></FluentIcon>
    <FluentLabel Typo="Typography.H2">Event Streams DemoApp</FluentLabel>
</FluentStack>
<p>Welcome to your Event Streams DemoApp</p>



