@page "/"

<PageTitle>DemoApp</PageTitle>


<FluentStack Style="padding-top:1em;padding-bottom:1em" Orientation="Orientation.Horizontal">
    <FluentIcon Title="Welcome" Value="@(new Icons.Regular.Size32.Flash())"></FluentIcon>
    <FluentLabel Typo="Typography.H2">Event Automation DemoApp</FluentLabel>
</FluentStack>
<p>Welcome to your Event Automation DemoApp</p>

<FluentLabel Style="padding-top:2em" Typo="Typography.Header">
    Architecture diagram
</FluentLabel>

<img style="padding-top:2em" src="EventAutomationDemoApp.png" width="700" />